html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
      border: 0;
      overflow: hidden; /*  Disable scrollbars */
      display: block;  /* No floating content on sides */
      /*font-family: 'Titan One', serif;
      font-size: 24px;*/
    }
@font-face {
    font-family: sinsofrh;
    src: url(sinsofrh.ttf);
}

div {
    font-family: sinsofrh;
}